body{
    background-color: white;
}

h1{
    color: #009ee0;
    text-align: center;margin-bottom: 50px;
    margin-top: 20px;
}

.container_mail{
    width: 60%;
    height: auto;
    position: relative;
    color: #009ee0;
    margin: 0 auto;
}

.container_mail .form, .connexion_line .form{
    width: 100%;
    height: 30px;
    margin: 0px 0 25px 0;
    border: none;
    border-color: #009ee0;
    border-bottom:solid #009ee0 2px;
    outline: none;
    color: #009ee0;
}
.container_mail .button, .connexion_line .button{
    width: auto;
    height: auto;
    margin: 0px 0 25px 0;
    border: none;
    border-color: #009ee0;
    border:solid #009ee0 2px;
    background-color: transparent;
    color: #009ee0;
    font-size: 1.5em;
    transition: all .5 ease-in-out;
    border-radius: 10px;
}
.container_mail .button:hover, .connexion_line .button:hover{
    background-color: #009ee0;
    color: white;
}
.container_mail .big_text{
    height: 150px;
    resize: none;
}

.nav{
    width: 100%;
    height: 75px;
    background-color: #009ee0;
}
.nav ul{
    width: 30%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.nav ul li a{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.wrapper p{
    font-size: 1.5em;
    margin: 20px 0;

}